body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}
td {
  height: 55px;
}
th {
  background-color: #007bff;
  color: #fff;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #ac2c2c;
}
.add-row-btn {
  background-color: #17a2b8;
}
.add-row-btn:hover {
  background-color: #138496;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
td textarea {
  width: 80%;
  height: 100%;
}
td input {
  text-align: center;
}

#logout {
  margin-top: 10px;
}

#logout a {
  color: white;
  text-decoration: none;
}
